# Prague Pedestrian Accessibility for Children (age 10-16). Part 1

## Data aquisition and cleaning
As main data source I sellected <a>http://opendata.praha.eu</a>.  This is a big database of data of different types amd it contains data from different fileds: transport, society, ecology, population e.t.c  
This data sets were mainly colleted and structured by Prague Institute of Planning and Development <a>www.iprpraha.cz</a> For my project I mainly intrested in:
* Shape and location of Prague administrative districs
* Districts population
* Geo location different types of social infrastructure

## Prerequisites

In [1]:
!conda install -c conda-forge geocoder #Uncomment this cell to install geocoder package if it is not yet installed

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geocoder-1.38.1            |             py_1          53 KB  conda-forge
    ratelim-0.1.6              |             py_2           6 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          59 KB

The following NEW packages will be INSTALLED:

    geocoder:        1.38.1-py_1       conda-forge
    ratelim:         0.1.6-py_2        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.8.28-0                   --> 2019.9.11-hecc5488_0 conda-forge
    certifi:         2019.9.11-py36_0              --> 2019.9.11-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_2             --> 1.1.1c-h516909a_0    conda-forge


Downloading and Extracting Packages
geocoder-1.38.1      | 53 KB     | ##################################### | 100%
ratelim-0.1.6        | 6 KB      | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
import sys
import io
import pandas as pd
import numpy as np
import json
import urllib.request
import requests
from pandas.io.json import json_normalize

Some operation for preparing and cleanning data can consume a lot of computation resourses and time. For optimization purpose we will upload our prepared datasets to IBM Cloud Storage. Further in "Data analysis" and "Modeling" sections will will use this uploaded data.

In [3]:
# @hidden_cell
storage_creds = {'apikey' : 'rqrlKTO277J6k4N_5X_wpI62WqwslFDxspY7o2Nb6s0A',
                 'iam_serviceid_crn' : 'crn:v1:bluemix:public:cloud-object-storage:global:a/8aa0fa0d4ad4480b8bfdf1c4d79f9442:021a8d33-89af-44aa-b548-e6f14a067d79:bucket:prague-data-set',
                 'auth_ep': 'https://iam.cloud.ibm.com/identity/token',
                 'ep': 'https://s3.private.eu-de.cloud-object-storage.appdomain.cloud',
                 'bucket' : 'prague-data-set'}

In [ ]:
#Define storage creds heree
# storage_creds = {'apikey' : 'apikey',
#                 'iam_serviceid_crn' : 'iam_serviceid_crn',
#                 'auth_ep': 'https://iam.cloud.ibm.com/identity/token',
#                 'ep': 'https://s3.private.eu-de.cloud-object-storage.appdomain.cloud',
#                 'bucket' : 'bucket'}

In [4]:
#Upload and dowmload functions for IBM data storage

import sys
from ibm_botocore.client import Config
import ibm_boto3

def upload_file(credentials,local_file_name,key): 
    storage = ibm_boto3.client(service_name='s3',
    ibm_api_key_id=credentials['apikey'],
    ibm_service_instance_id=credentials['iam_serviceid_crn'],
    ibm_auth_endpoint=credentials['auth_ep'],
    config=Config(signature_version='oauth'),
    endpoint_url=credentials['ep'])
    
    try:
        res=storage.upload_file(Filename=local_file_name, Bucket=credentials['bucket'],Key=key)
    except Exception as e:
        print(Exception, e)
    else:
        print('File {} Uploaded'.format(local_file_name))
        
def download_file(credentials,local_file_name,key):  
    storage = ibm_boto3.client(service_name='s3',
    ibm_api_key_id=credentials['apikey'],
    ibm_service_instance_id=credentials['iam_serviceid_crn'],
    ibm_auth_endpoint=credentials['auth_ep'],
    config=Config(signature_version='oauth'),
    endpoint_url=credentials['ep'])
    try:
        res= storage.download_file(Bucket=credentials['bucket'],Key=key,Filename=local_file_name)
    except Exception as e:
        print(Exception, e)
    else:
        print('File {} Downloaded'.format(local_file_name))

In [5]:
# Coordinates retrieve function
import geocoder

def get_coordinates(dataFrame, index_row):
    dict_coordinates = {}
    total_count = len(dataFrame.index)
    current = 0
    errors = 0
    for index, row in dataFrame.iterrows():
        try:
            g = geocoder.arcgis(row[index_row])
            lat = g.json['lat']
            lng = g.json['lng']
            dict_coordinates[index] = [lat, lng]
            current+=1
        except:
            errors+=1
            print ('Failed to get coordinates for {}: {}'.format(index_row, sys.exc_info()[0]))
    
    dataFrame['latitude'] = 0.0
    dataFrame['longitude'] = 0.0
    
    for k, v in dict_coordinates.items():
        dataFrame.loc[k,'latitude']=v[0]
        dataFrame.loc[k,'longitude']=v[1]
        
    print('Done: Total: {} Success: {} Error {}'.format(total_count, current, errors))

In [34]:
files = {'districts':'prague_district_population.csv', 'poi':'prague_pois.csv'}

### Prague`s districts borders

First step is to determine the shape, location and population of the administrative disctrics of Prague.

In [8]:
mestky_casty_url = 'http://opendata.iprpraha.cz/CUR/DTMP/TMMESTSKECASTI_P/WGS_84/TMMESTSKECASTI_P.json'
results = requests.get(mestky_casty_url).json(encoding = "utf8")
mestky_casty = json_normalize(results['features']) 
print('Loaded: {} districts'.format(mestky_casty.shape[0]))

Loaded: 57 districts

In [9]:
url_population =  'https://www.czso.cz/documents/10180/25233177/sldb_zv.csv'
df_population = pd.read_csv(url_population,encoding = "ISO 8859-2")

df_population = df_population[(df_population.uzcis == 44)& (df_population.nazev.str.find('Praha') != -1)][['nazev','u01','u04', 'u05', 'u06']]
df_population.rename(columns={'nazev':'Name','u01':'Total', 'u04':'Kids', 'u05':'Middle', 'u06':'Senior'}, inplace = True)
df_population['Name'] = df_population['Name'].map(lambda x: x.lower())

print('Loaded: {} districts'.format(df_population.shape[0]))

Loaded: 57 districts

Join district geography and population datasets

In [10]:
geo_unique = np.array(mestky_casty['properties.NAZEV_MC'].apply(lambda x: x.lower()).unique())
population_unique = df_population['Name'].unique()

print('Unique districts in geo dataset: {}'.format(len(geo_unique)))
print('Unique districts in population dataset: {}'.format(len(population_unique)))

districts_diff_geo = list(set(geo_unique)-set(population_unique))
districts_diff_pop = list(set(population_unique)-set(geo_unique))

print (districts_diff_geo)

print (districts_diff_pop)

print ('Datasetes difference: {} {}'.format(len(districts_diff_geo), len(districts_diff_pop)))

Unique districts in geo dataset: 57
Unique districts in population dataset: 57
['praha-nebušice', 'praha-šeberov', 'praha-libuš', 'praha-štěrboholy']
['praha-\x8aeberov', 'praha-libu\x9a', 'praha-nebu\x9aice', 'praha-\x8atěrboholy']
Datasetes difference: 4 4

In [11]:
df_population.loc[df_population.Name == 'praha-libu\x9a', 'Name'] = 'praha-libuš'
df_population.loc[df_population.Name == 'praha-\x8aeberov', 'Name'] = 'praha-šeberov'
df_population.loc[df_population.Name == 'praha-nebu\x9aice', 'Name'] = 'praha-nebušice'
df_population.loc[df_population.Name == 'praha-\x8atěrboholy', 'Name'] = 'praha-štěrboholy'

population_unique = df_population['Name'].unique()
districts_diff_pop = list(set(population_unique)-set(geo_unique))

print('Data set equal: {}'.format(len(districts_diff_pop)==0))

Data set equal: True

Creating resulting dataset for geographical and demographical data

In [12]:
result = []
#converting from json to pandas data frame
result.append([
    v['properties']['NAZEV_MC'].lower(),
    v['geometry']['coordinates'][0],
    v['properties']['PLOCHA']] for v in results['features'])
    
df_prague_districts = pd.DataFrame([item for result in result for item in result])
df_prague_districts.columns = ['Name', 'Geometry', 'Area']

#Joing datasets
df_prague = df_prague_districts.set_index('Name').join(df_population.set_index('Name'))

quotient = df_prague['Middle']/1000
df_prague['Kids_per_1000'] = df_prague['Kids']/quotient
df_prague.sort_values('Name', inplace = True)
df_prague.reset_index(inplace=True)
df_prague.shape

(57, 8)

In [13]:
get_coordinates(df_prague, 'Name')
df_prague.head()

Done: Total: 57 Success: 57 Error 0

,Name,Geometry,Area,Total,Kids,Middle,Senior,Kids_per_1000,latitude,longitude
0,praha 1,"[[14.410891049000043, 50.078674687000046], [14...",5538443.86,30561.0,2391.0,22963.0,4594.0,104.124026,50.08728,14.41742
1,praha 10,"[[14.531321086000048, 50.072240288000046], [14...",18599366.98,113200.0,12213.0,76625.0,23937.0,159.386623,50.06762,14.46016
2,praha 11,"[[14.54355294800007, 50.03618763800006], [14.5...",9793679.84,75741.0,8688.0,54983.0,11816.0,158.012477,50.03178,14.50719
3,praha 12,"[[14.450632163000023, 50.01452735600003], [14....",23317909.06,53515.0,6156.0,39699.0,7480.0,155.066878,50.00564,14.40462
4,praha 13,"[[14.320621949000042, 50.04010680700003], [14....",13196802.19,59906.0,7985.0,46514.0,5109.0,171.668745,50.05163,14.34231

In [14]:
file_name = files['districts']

df_prague.to_csv(file_name)
upload_file(storage_creds,file_name,file_name)

File prague_district_population.csv Uploaded

## Points of interests
### Schools and other educational centers

In [16]:
url_schools = 'https://rejstriky.msmt.cz/opendata/vrejcz010.xml'
file_schools = 'schools.xml'
results = requests.get(url_schools)
results.content
with open(file_schools, 'w') as file:
    file.write(results.text)
print('Loaded')

Loaded

In [18]:
#Converting XML to pandas dataframe 

import xml.etree.ElementTree as et 
xtree = et.parse(file_schools)
xroot = xtree.getroot()

dic_scools = []

try:
    for entry in xroot.findall('PravniSubjekt'):
        place_group = entry.find('SkolyZarizeni')
        if(place_group is None):
            continue
        for place in place_group.findall('SkolaZarizeni'):
            s_id = place.find('IZO').text
            s_type = place.find('SkolaDruhTyp').text
            s_name = place.find('SkolaPlnyNazev').text
            s_capasity = place.find('SkolaKapacita').text
            s_adress = place.find('SkolaMistaVykonuCinnosti')
            s_actual_add = s_adress.find('SkolaMistoVykonuCinnosti')
            s_addres1 =  s_actual_add.find('MistoAdresa1').text
            s_addres2 =  s_actual_add.find('MistoAdresa2').text
            s_addres3 =  s_actual_add.find('MistoAdresa3').text
            dic_scools.append([s_id, s_name,  s_type, s_capasity, '{} {} {}'.format(s_addres1, s_addres2, s_addres3)])
    print('Completed. Total schools and educational centers count: {}'.format(len(dic_scools)))
except:
    print ('Exception', sys.exc_info()[0]) 
    
columns = ['id', 'name', 'type', 'capacity', 'address']
df_education = pd.DataFrame(dic_scools, columns = columns)

print('Dataframe created: {},{}'.format(df_education.shape[0], df_education.shape[1]))

#upload to datastore
df_prague.to_csv('prague_schools.csv')
upload_file(storage_creds,'prague_schools.csv','prague_schools.csv')

Completed. Total schools and educational centers count: 2273
Dataframe created: 2273,5
File prague_schools.csv Uploaded

In [26]:
#Check for predefinied types in schools data frame
types = df_education['type'].unique()
print('Types in XML file')
for t in types:
    print(t,df_education[df_education.type == t].iloc[0,1])

#filtering types
types = ['B00', 'F10', 'C00','H22', 'G11']
types_shu = types[0:3]
df_education_selected = df_education.loc[df_education.type.isin(types)]
df_education_selected.loc[df_education_selected['type'].isin(types_shu), 'Type'] = 'school'
df_education_selected = df_education_selected.fillna('educatioanal center')

print('Schools and educational centers count {}'.format(df_education_selected.shape[0]))
print('Unique types {}'.format(df_education_selected['Type'].unique()))

Types in XML file
A00 Mateřská škola
L11 Školní jídelna
L13 Školní jídelna - výdejna
B00 Základní škola
M60 Přípravný stupeň základní školy speciální
G21 Školní družina
G22 Školní klub
F10 Základní umělecká škola
C00 Střední škola
D00 Konzervatoř
M20 Školní knihovna
E00 Vyšší odborná škola
M79 Jiné účelové zařízení
H22 Domov mládeže
G11 Dům dětí a mládeže
G40 Zařízení pro další vzdělávání pedagogických pracovníků
M40 Středisko praktického vyučování
H21 Internát
K20 Speciálně pedagogické centrum
G12 Stanice zájmových činností
K10 Pedagogicko-psychologická poradna
F20 Jazyková škola s právem státní jazykové zkoušky
J12 Dětský domov se školou
J21 Středisko výchovné péče
J14 Diagnostický ústav
J11 Dětský domov
J13 Výchovný ústav
L12 Školní jídelna - vývařovna
H10 Škola v přírodě
A15 Mateřská škola (lesní mateřská škola)
Schools and educational centers count 560
Unique types ['school' 'educatioanal center']

In [28]:
#Cleaning and retriving coordinates
df_education_selected.loc[0:, 'District_Name'] = df_education_selected.loc[0:,'address'].apply(lambda x: ' '.join(x.split()[-2:]).lower())

columns_to_drop = ['id','name','capacity']
df_education_selected.drop(columns = columns_to_drop, inplace = True)

get_coordinates(df_education_selected, 'address')
df_education_selected.head()

Done: Total: 560 Success: 560 Error 0

,type,address,Type,District_Name,latitude,longitude
5,B00,Smolkova 567/2 Kamýk 142 00 Praha 4,school,praha 4,50.008620,14.448992
22,B00,Ostrovní 2070/9 Nové Město 110 00 Praha 1,school,praha 1,50.080344,14.415264
25,B00,Soukenická 1088/10 Nové Město 110 00 Praha 1,school,praha 1,50.090834,14.428853
26,F10,Soukenická 1088/10 Nové Město 110 00 Praha 1,school,praha 1,50.090834,14.428853
30,F10,Písková 126/27 Modřany 143 00 Praha 4,school,praha 4,50.001684,14.413886

In [35]:
df_prague_poi = pd.DataFrame(df_education_selected)

poi_file_name = files['poi']
df_prague_poi.to_csv(poi_file_name)
upload_file(storage_creds,poi_file_name,poi_file_name)

File prague_pois.csv Uploaded

### Libraries

In [36]:
url_libs = 'https://cs.wikipedia.org/wiki/M%C4%9Bstsk%C3%A1_knihovna_v_Praze'

f = urllib.request.urlopen(url_libs)
html = f.read()

try: 
    from BeautifulSoup import BeautifulSoup
except ImportError:
    from bs4 import BeautifulSoup

parsed_html = BeautifulSoup(html)
tag_header = parsed_html.find_all('h4')
district_tags = []

for tag in tag_header:
    tag_match = False
    district =''
    for child in tag.children:
        if child.get("class")[0] == 'mw-headline':
            district = child.get_text().lower()
            tag_match = True
    if tag_match == True:
        nextsibling = tag.next_sibling
        while  True:
            if nextsibling.find('ul') != -1 :
                lists = nextsibling.find_all('li')
                for lib in  lists:
                    district_tags.append(['library',district,lib.get_text()])
                break
            else:
                nextsibling = nextsibling.next_sibling

df_libs = pd.DataFrame(data=district_tags)
df_libs.columns = ['Type', 'District_Name', 'Address']
print('Libraries count: {}'.format(df_libs.shape[0]))

get_coordinates(df_libs, 'Address')
df_libs.head()

Libraries count: 41
Done: Total: 41 Success: 41 Error 0

,Type,District_Name,Address,latitude,longitude
0,library,praha 1,"„Školská“, Nové Město, Školská 1267/30",50.079501,14.424045
1,library,praha 1,"„Hradčany“, Hradčany, Pohořelec 111/25",50.087778,14.389993
2,library,praha 2,"„Záhřebská“, Vinohrady, Záhřebská 158/20",50.071910,14.436970
3,library,praha 2,"„Dittrrichova“, Nové Město, Dittrichova 1543/2",50.073620,14.416410
4,library,praha 2,"„Ostrčilovo náměstí“, Nusle, Ostrčilovo náměst...",50.065790,14.424680

In [38]:
df_prague_poi = pd.concat([df_prague_poi,df_libs], sort=True)

poi_file_name = files['poi']
df_prague_poi.to_csv(poi_file_name)
upload_file(storage_creds,poi_file_name,poi_file_name)

File prague_pois.csv Uploaded

### Sport centers and clubs

In [39]:
url_sport = 'http://opendata.praha.eu/datastore/dump/5d1ee13f-f6e9-4ee9-a1bd-48d5ca2bb867?format=json'
results = requests.get(url_sport).json(encoding = "utf8")
result = []

result.append([
    'sport',
    'praha {}'.format(v[6]),
     v[2]] for v in results['records'])
    
df_sport = pd.DataFrame([item for result in result for item in result])
df_sport.columns = ['Type', 'District_Name', 'Address']

print('Sport centers and clubs count: {}'.format(df_sport.shape[0]))

get_coordinates(df_sport, 'Address')

df_sport.drop(columns=['Address'], inplace = True)

df_sport.head()

Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Failed to get coordinates for Address: <class 'OSError'>
Done: Total: 877 Success: 825 Error 52
Sport centers and clubs count: 877

    Type District_Name   latitude  longitude
0  sport       praha 5  50.052154  14.360772
1  sport       praha 5  50.068925  14.345478
2  sport       praha 1  50.085924  14.431106
3  sport      praha 12  50.009011  14.447198
4  sport       praha 7  50.096690  14.440140

In [40]:
df_prague_poi = pd.concat([df_prague_poi, df_sport], sort=True)

poi_file_name = files['poi']
df_prague_poi.to_csv(poi_file_name)
upload_file(storage_creds,poi_file_name,poi_file_name)

File prague_pois.csv Uploaded

### Outdoor playgrounds

In [41]:
url_playgrounds = 'http://opendata.praha.eu/dataset/3c3ca9ca-fbc0-4f97-b624-ed967f5d9a24/resource/e19c2e29-5e33-4449-8847-5dc8f5b8a2f2/download/db144c03-1a0f-456f-a32b-9c48ccfc0813-playgrounds.json'
results = requests.get(url_playgrounds).json(encoding = "utf8")

print('Downloaded')

poi_type = 'playground'
result = []

result.append([
    poi_type,
    v['properties']['district'].lower(),
    v['geometry']['coordinates'][0],
    v['geometry']['coordinates'][1]] for v in results['features'])
    
df_playgrounds = pd.DataFrame([item for result in result for item in result])
df_playgrounds.columns = ['Type', 'District_Name', 'latitude','longitude']

indeces=df_playgrounds.loc[df_playgrounds.District_Name.str.contains('[-][0-9]', regex=True)].index
df_playgrounds.loc[indeces, 'District_Name'] = df_playgrounds.loc[indeces, 'District_Name'].str.replace('-', ' ')
print('Outdoor playgrounds count: {}'.format(df_playgrounds.shape[0]))

df_playgrounds.head()

Downloaded
Outdoor playgrounds count: 145

         Type    District_Name   latitude  longitude
0  playground  praha-petrovice  14.563237  50.038025
1  playground          praha 8  14.438850  50.134014
2  playground          praha 3  14.476411  50.094387
3  playground         praha 22  14.593131  50.036453
4  playground         praha 15  14.539891  50.043732

In [42]:
df_prague_poi = pd.concat([df_prague_poi, df_playgrounds], sort=True)

poi_file_name = files['poi']
df_prague_poi.to_csv(poi_file_name)
upload_file(storage_creds,poi_file_name,poi_file_name)

File prague_pois.csv Uploaded

In [43]:
df_prague_poi.shape

(1664, 7)